/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Background Color */
    --primary-color: #021832;
    --secondary-color: #caa169;
    --third-color: #05aab0;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
}



body {
    font-family: var(--primary-font);
    background-color: var(--bg-black);
    display: inline;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-white);
}

section {
    padding: 3.125rem 0;
}


.main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: .0625rem solid var(--primary-color);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

    .main-btn:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: var(--text-white);
        opacity: 0.9;
    }

h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--bg-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

h3 {
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--bg-white);
    font-family: var(--secondary-font);
}

    h3 span {
        color: var(--third-color);
    }

h5 {
    font-size: 1.5rem;
    line-height: 1;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    font-weight: 500;
    font-family: var(--secondary-font);
}

h6 {
    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}

p {
    font-size: 1rem;
    color: var(--bg-white);
    line-height: 1.625rem;
}











/*navbar*/
/*header*/





.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    transition: 0.3s ease;
    margin-top: 5px;
}

.nav-close-btn, .nav-menu-btn {
    display: none;
}

.nav-bar .logo {
    color: var(--bg-white);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.brand-title img {
    border-radius: 100%;
    margin-top: 1px;
    margin-left: 1px;
    height: 70px;
}




.navigation .nav-items a {
    color: var(--bg-white);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    position: relative;
    background-image: linear-gradient(to right, #05aab0, #000 50%);
}

    .navigation .nav-items a:before {
        content: '';
        background: #f4f4f4;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }


    .navigation .nav-items a:hover {
        background-position: 0;
    }

        .navigation .nav-items a:hover::before {
            width: 100%;
        }






    .navigation .nav-items a i {
        display: none;
    }

    .navigation .nav-items a:not(:last-child) {
        margin-right: 45px;
    }

/*======= Navigation menu =======*/
.nav-menu-btn {
    display: block;
    color: var(--bg-white);
    font-size: 1.5em;
    cursor: pointer;
}

.nav-close-btn {
    display: block;
    color: var(--bg-white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

    .navigation.active {
        visibility: visible;
        opacity: 3;
    }

    .navigation .nav-items {
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .navigation .nav-items a {
        color: var(--bg-white);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

        .navigation .nav-items a:hover {
            color: var(--bg-white);
        }

    .navigation .nav-items > a > i {
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
    }

.swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
}


/*=======Contact Us =======*/
.contact-in {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: black;
    box-shadow: 0px 0px 20px 0px  var(--secondary-color);
    margin-top: 5%;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

    .contact-map iframe {
        width: 100%;
        height: 100%;
    }

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
    
}

    .contact-form h1 {
        margin-bottom: 12px;
        color:white;
        font-size:2.5rem;
    }

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

    .contact-form-txt::placeholder {
        color: #aaa;
    }

.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

    .contact-form-textarea::placeholder {
        color: #aaa;
    }

.contact-form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: var(--secondary-color);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}
    .contact-form-btn:hover {
        background: var(--third-color);
        background-image: linear-gradient(to right, #05aab0, #000 50%);
    }

/*=======pop up message =======*/


.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index ;
    -o-transition: opacity 0.15s linear, z-index ;
    transition: opacity 0.15s linear, z-index ;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}
.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 320px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #bcbcbc;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.custom-model-wrap h2{
    font-size:1.2rem;
   text-align:center;
   justify-content:space-between;
}



.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: #bcbcbc;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}


.close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
   
   
   
    
}
    .close-btn img {
        height: 15%;
        width: 15%;
        border-image-width: 3px;
        border-color: white;
        top: -30px;
        right: 0;
        z-index: 99;
        margin-bottom:0.5%;
    }


@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }
}













    /* 11 footer */
    .footer_wrapper {
        background-color: var(--bg-black);
        justify-content: space-between;
    }

        .footer_wrapper h5 {
            color: var(--text-white);
            margin-bottom: 1.25rem;
        }

        .footer_wrapper ul li {
            margin-bottom: .5rem;
            list-style: none;
        }

        .footer_wrapper .contact-info li a {
            color: var(--secondary-color)
        }

        .footer_wrapper .link-widget li a,
        .footer_wrapper p {
            color: var(--text-gray);
            font-size: .875rem;
            padding-left: 1.5rem;
            position: relative;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }

            .footer_wrapper .link-widget li a::before {
                content: '\f105';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                left: 0.3rem;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            .footer_wrapper .link-widget li a:hover {
                margin-left: .625rem;
                color: var(--secondary-text);
            }

        .footer_wrapper .social-network a {
            width: 2.1875rem;
            height: 2.1875rem;
            margin: .5rem;
            line-height: 2rem;
            font-size: .875rem;
            display: inline-block;
            border: .125rem solid var(--text-gray);
            color: var(--text-gray);
            text-align: center;
            border-radius: 100%;
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

            .footer_wrapper .social-network a:hover {
                background-color: var(--secondary-color);
                border-color: var(--secondary-color);
                color: var(--text-white);
                box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
                transform: translateY(-0.1875rem);
            }

        .footer_wrapper .form-control:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--secondary-color);
        }

        .footer_wrapper .copyright-section {
            background-color: var(--primary-color);
            padding: 1.25rem 0 .3125rem;
            text-align: center;
        }


            .footer_wrapper .copyright-section a {
                color: var(--secondary-text);
            }





        .footer_wrapper .ul li {
            margin-right: 50px;
        }















    @media (max-width: 767px) {

        /* custom css */
        h1 {
            font-size: 1.875rem;
            line-height: 2.5rem;
        }

        h3 {
            font-size: 1.75rem;
            line-height: 2.1875rem;
        }

        h5 {
            font-size: 1.25rem;
        }

        p {
            font-size: .8125rem;
            line-height: 1.5rem;
        }

        /* blog */
        .blog-content {
            margin: 0;
        }

        /* footer */
        .footer_wrapper > div {
            padding: 0 1.875rem;
        }
    }

    /*<!-Responsive Design--- >*/
    @media (max-width: 1199px) {
        /* header */
        .navbar-expand-lg .navbar-nav {
            align-items: center;
        }

            .navbar-expand-lg .navbar-nav .nav-link {
                padding: 0;
                font-size: .875rem;
            }

        .main-btn {
            font-size: .875rem;
        }

        /* booking area */
        .booking-area {
            padding: 3rem .625rem;
        }

            .booking-area .main-btn {
                padding-left: .3125rem !important;
                padding-right: .3125rem !important;
            }

        /* service */
        .service-item-wrap .tab-content img {
            width: 100%;
        }

        .service-menu-area ul li a {
            margin-bottom: .8125rem;
            overflow: hidden;
        }

        .service-menu-area ul li:nth-child(1) {
            margin-left: -4.4375rem;
        }

        .service-menu-area ul li:nth-child(2) {
            margin-left: -6.9375rem;
        }

        .service-menu-area ul li:nth-child(3) {
            margin-left: -9.375rem;
        }

        .service-menu-area ul li:nth-child(4) {
            margin-left: -12.8125rem;
        }

        .service-menu-area ul li a h5 {
            margin-bottom: .375rem;
        }
    }

    @media (max-width:991px) {

        /* custom css */
        section {
            padding: 1.875rem 0;
        }

        /* 2 Navbar */
        .header-scrolled {
            height: auto;
        }

        .header_wrapper .menu-navbar-nav {
            text-align: center;
            background-color: var(--bg-dark-blue);
            padding-bottom: .9375rem;
        }

        .header_wrapper .nav-item .nav-link {
            margin-top: .9375rem;
        }

        /* banner wrapper */
        .banner_wrapper {
            height: 25.625rem;
        }

        .booking-area {
            padding: 3.125rem 1.875rem;
        }


        /* About */
        .about_wrapper {
            padding-top: 22.375rem;
        }

        /* services */
        .service-menu-area {
            padding: 1.5rem 0.5rem;
        }

            .service-menu-area ul li {
                margin-left: unset !important;
            }

        /* room */
        .room-item .room-content {
            padding: 2rem 1.875rem;
        }
    }

    @media (max-width: 767px) {

        /* custom css */
        h1 {
            font-size: 1.875rem;
            line-height: 2.5rem;
        }

        h3 {
            font-size: 1.75rem;
            line-height: 2.1875rem;
        }

        h5 {
            font-size: 1.25rem;
        }

        p {
            font-size: .8125rem;
            line-height: 1.5rem;
        }

        /* blog */
        .blog-content {
            margin: 0;
        }

        /* footer */
        .footer_wrapper > div {
            padding: 0 1.875rem;
        }
    }
